@import url('https://fonts.googleapis.com/css?family=Dancing+Script|Lato:300,400,700,900|Open+Sans+Condensed:300,700|Roboto:400,700,900&display=swap');

/*Created by onlicksolutions */

*{
  padding: 0;
  margin: 0;
  font-family: 'Lato', sans-serif;
  /* font-family: 'Lato', sans-serif;
   font-family: 'Roboto', sans-serif;
  font-family: 'Dancing Script', cursive;
  font-family: 'Open Sans Condensed', sans-serif; */
  box-sizing: border-box;
}

.nav-w{
  width: 80%;
  margin: auto;
}
/* header properties */
#header{
    background-color: #011B56;
    color: #fff;
    font-size: .8rem;
    padding: .3rem;
}
#header a{
    color: #fff;
    text-decoration: none;
}
#header a:hover{
    transition: .6s ease-in;
    color: #DED5D1;
}
#header .right-side a{
    font-size: 1rem;
}
#header .right-side .col-md-6 a{
    font-size: .8rem;
}

/* navigation */
.megamenu {
    position: static;
  }
  
  .megamenu .dropdown-menu {
    background: none;
    border: none;
    width: 100%;
  }
  #color{
      background-color: #011B56;
      color: #fff;
      padding-right: 1rem;
      padding-left: 1rem;
      border: 2px solid #011B56;
  }
  #color:hover{
    background-color: #Fff;
    color: #fff;
    padding-right: 1rem;
    padding-left: 1rem;
    transition: ease-in .6s;
  }
  #color:hover a{
   color: #011B56;
   transition: ease-in .6s;
  }
  #color a{
      color: #fff;
  }
  #navigation{
      box-shadow: 1px 1px 5px #011B56;
  }
  /* carousel css */
  #landing-page{
      position: relative;
  }
/* endo of navifgation */
#demo .carousel-item img{
    height: 75vh;
    filter: opacity(60%);
  }
  
  #demo .carousel-control-next{
    height: 40px;
    width: 55px!important;
    background: #011B56;
    right: 0!important;
    top: 45%!important;
  }
  #demo .carousel-control-prev span{
      height: 24px!important;
  }
  #demo .carousel-control-next span{
    height: 24px!important;
}
  #demo .carousel-control-prev{
    height: 40px;
    width: 55px!important;
    background: #011B56;
    left: 0!important;
    top: 45%!important;
  }
  
  #demo .carousel-caption{
    position: absolute;
    top: 35%;
    background: rgba(#fff, #ccc, #fefefe, 0.400)!important;
  }
  #demo .carousel-caption h3{
    color: #011B56;
    font-weight: 900;
    text-transform: uppercase;
   font-size: 3.5em;
   text-shadow: 2px 2px 10px #011B56;
  }
  #demo .carousel-caption h3 span{
    color: #fff;
    font-weight: 900;
    text-transform: uppercase;
    text-shadow: 2px 2px 10px #011B56;
  }

  #demo .carousel-caption p span{
    background: rgb(0, 26, 85, .500)!important;
    padding: .2rem 6rem;
    font-size: 2em; 
    font-weight: 300;
    letter-spacing: .1rem;
    font-family: 'Open Sans Condensed', sans-serif;
    font-weight: 700;
  }

  /* corousel css end */

  /* **************************************** blgo page csss******************************************************** */
  .blog-landing{
    background-image: linear-gradient(rgba(0,0,0,.500),rgba(0,0,0,.500)), url(../img/blog/blog\ landing.jpg);
    padding-top: 3rem;
    padding-bottom: 3rem;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    border-bottom: .3rem solid #011B56;
  }
  .blog-landing h3{
    color: #011B56;
    font-size: 3rem;
    font-weight: 700;
  }
  .blog-landing p{
  color: #fff;
  font-size: 1em;
  }

/* card css
 */
 .blogs .card{
  border-radius: 0!important;
  margin-bottom: 2rem!important;
  transition: ease-out .7s;
 }
 .blogs .card:hover{
  box-shadow: 1px 1px 10px #011B56;
  transition: ease-in .7s;
 }
 .blogs .card:hover .image-card img.card-img-top{
 filter: grayscale(1);
  transition: ease-in .7s;
 }
 .blogs  .image-card{
   position: relative;
 }
 .blogs  .image-card img.card-img-top{
  border-radius: 0!important;
  margin: 0!important;
  padding: 0!important;
  height: 200px;
}
 .blogs  .image-card{
  position: relative;
}
.blogs  .image-card p{
  position: absolute;
  bottom: 0;
  margin-bottom: 0;
  padding: .2rem 1rem!important;
  background-color: #011B56;
  color: #Fff;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: .7rem;
  left: 5%;
}
.blogs .card-body .author{
  font-size: .8rem;
  margin-bottom: 0;
}

.blogs .card-body .card-title{
  font-size: 1.5rem;
  margin-bottom: 0;
  font-weight: bold;
  color: #011B56;
}
.blogs .card-body .card-text{
  font-size: .9em;
  color: gray;
}
.blogs .card-body .press-blog{
  padding: .3rem 1rem;
  background-color: #fff;
  border: 2px solid #011B56;
  color: #000;
  font-size: .7em;
  text-decoration: none;
}
.blogs .card-body .press-blog:hover{
  padding: .3rem 1rem;
  background-color: #011B56;
  border: 2px solid #011B56;
  color: #fff;
  font-size: .7em;
  text-decoration: none;
  transition: .5s ease-in;
}
/* search blog */
.blogs .form-control:focus {
  box-shadow: none;
}

.blogs .form-control-underlined {
  border-width: 0;
  border-bottom-width: 1px;
  border-radius: 0;
  padding-left: 0;
}
/* pupular csss */
.blogs .popular-stories h3.title{
  color: gray;
  font-size: 1rem;
  font-weight: bold;
}
.blogs .popular-stories .image-box img{
  height: 48px;
  width: 50px;
  border-radius: 100%;
  margin: .5rem;
}
.blogs .popular-stories .blog-title a{
font-size: .8rem;
text-decoration: none;
color: #011B56;
}
.blogs .popular-stories .blog-title p{
  font-size: .7rem;
}
.blogs .category{
  background-color: lightgray;
  color: #fff;
  text-decoration: none;
  padding-top: .5rem;
  padding-bottom: .5rem;
}
.blogs .category:hover{
  background-color:gray;
  transition: ease-in .5s;
  color: #fff;
  text-decoration: none;
}
.blogs .category-2{
  padding-top: .5rem;
  padding-bottom: .5rem;
  color: #fff;
  text-decoration: none;
  background-color: rgba(128, 128, 128, 0.421);
}
.blogs .category-2:hover{
  transition: ease-in .5s;
  text-decoration: none;
  color: #fff;
  background-color: gray;
}
/* breadcrumb */
.blogs .page-item .page-link{
  color: gray;
}

/****************************************************************/
/************************   blog-post     ************************/
/****************************************************************/
.blogs .blog-post {
  margin-bottom: 2rem;
}
.blogs .blog-post .img-wrap img{
  height: 50vh;
  width: 100%;
}
.blogs .blog-post .img-wrap {
  position: relative;

}
.blogs .blog-post .img-wrap p{
  position: absolute;
  bottom: 0;
  margin-bottom: 0;
  padding: .2rem 1rem!important;
  background-color: #011B56;
  color: #Fff;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: .7rem;
  left: 5%;
}

.blogs .blog-post .blog-body{
  padding: 5%;
  
}
.blogs .blog-post .blog-body .author{
  font-size: .7rem;
}
.blogs .blog-post .blog-body .blog-title{
  font-size: 2rem;
  margin-bottom: 0;
  font-weight: bold;
  color: #011B56;
}

.blogs .blog-post .blog-body .text{
color: gray;
font-size: 1em;
}

/* comments section */
.blogs .comments{
  padding: 5%;
}
.blogs .comments .comments-title h3{
  color: #011B56;
  font-weight: bold;

}
.blogs .comments .media img{
  height: 64px;
  width: 64px;
  border-radius: 100%;
}
.blogs .comments .media  .reply{
  padding: .3rem 1rem;
  border-radius: 5px;
  margin-top: .8rem;
}
/* leave us a comment  */
.blogs .leave-comment{
  padding: 5%;
}
.blogs .leave-comment .comments-title h3{
  color: #011B56;
  font-weight: bold;
}
.blogs .leave-comment .form-1{
  width: 100%;
  padding-top: .2rem;
  padding-bottom: .2rem;
  padding-left: 1rem;
}
.blogs .leave-comment .send{
  display: block;
  margin: 1rem 4rem;
  color: white;
  outline: none;
  border: .2rem solid #011B56;
  background: #011B56;
  font-weight: bold;
}
.blogs .leave-comment .send:hover{
  background: #fff;
  color: #011B56;
  transition: ease-in .6s;
}

  /* **************************************** blgo page csss******************************************************** */
  .contact-landing{
    background-image: linear-gradient(rgba(0,0,0,.500),rgba(0,0,0,.500)), url(../img/bathroom-cabinet-contemporary-1571462.jpg);
    padding-top: 3rem;
    padding-bottom: 3rem;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    border-bottom: .3rem solid #011B56;
  }
  .contact-landing h3{
    color: #011B56;
    font-size: 3rem;
    font-weight: 700;
  }
    .contact-landing p{
  color: #fff;
  font-size: 1em;
  }

  /* ******************** contact us page************************* */
  /* contact us */
/* contact details from section */
.c-contact-form{
	padding: 4rem 0;
}

.form-spacing{
	padding-top: 3rem;
}
.feedback-input {
	color:white;
	font-weight:500;
	font-size: 18px;
	border-radius: 0;
	line-height: 22px;
	background-color: transparent;
	border:2px solid #011B56;
	transition: all 0.3s;
	padding: .8rem;
	margin-bottom: 15px;
	width:100%;
	box-sizing: border-box;
	outline:0;
  }
  
  .feedback-input:focus {
	   border:2px solid #011B56; }
  
  textarea {
	height: 150px;
	line-height: 150%;
	resize:vertical;
  }
  
  [type="submit"] {
	width: 100%;
	background:#011B56;
	border-radius:0;
	border:0;
	cursor:pointer;
	color:white;
	font-size:.8rem;
	padding-top:.5rem;
	padding-bottom:.5rem;
	transition: all 0.3s;
	margin-top:-4px;
	font-weight:700;
	border: .2rem solid #011B56;
  }
  [type="submit"]:hover {
	   background:#fff;
	   color: #011B56;
	   border: .2rem solid #011B56;
	 }
/* right side form contact information */
.icons-detail{
	padding-top: 3rem;
}
.icons-detail i{
	color: #011B56;
	padding-bottom: 1rem;
	padding-top: 1rem;
}
.icons-detail p{
	color: gray;
}
/* map-border */
.map-border{
	border-top: .5rem  solid #011B56;

}

/* ***************** project landing page ************************ */
.project-landing{
  background-image: linear-gradient(rgba(0,0,0,.500),rgba(0,0,0,.500)), url(../img/bathroom-cabinet-contemporary-1571462.jpg);
  padding-top: 3rem;
  padding-bottom: 3rem;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  border-bottom: .3rem solid #011B56;
}
.project-landing h3{
  color: #011B56;
  font-size: 3rem;
  font-weight: 700;
}
  .project-landing p{
color: #fff;
font-size: 1em;
}

/* *********************** portfolio section************************* */

ul.filters{
  display: block;
  width: 100%;
  margin: 0;
  padding: 30px 0;
}

ul.filters > li{
  list-style: none;
  display: inline-block;
}

ul.filters > li > a{
  display: block;
  color: #434e5e;
  text-decoration: none;
  padding: 5px 20px;
}

ul.filters > li > a:hover{
  background-color: #e6e9ed;
}

ul.filters > li.active > a{
  color: #fff;
  background-color: #011B56;
}

.card-o{
  position: relative;
  margin-bottom: 50px;
  color: #000;
  border-radius: 0;
  border: 1px solid #eee;
  background-color: #fff;
  box-shadow: 1px 1px 1.5px rgba(0,0,0,0.075);
}

.card-head{
  position: relative;
  overflow: hidden;
}

.card-overlay{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 9;
  background-color: rgba(67,78,94,0.8);
  display: flex;
  align-items: center;
  justify-content: center;
  color :#fff;
  -webkit-transition: ease-in-out 0.2s;
  -moz-transition: ease-in-out 0.2s;
  -ms-transition: ease-in-out 0.2s;
  transition: ease-in-out 0.2s;
}

.card-hover{
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(1, 27, 86, 0.9);
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  flex-direction: column;
  box-sizing: border-box;
  padding: 30px;
  -webkit-transition: ease-in-out 0.2s;
  -moz-transition: ease-in-out 0.2s;
  -ms-transition: ease-in-out 0.2s;
  transition: ease-in-out 0.2s;
}

.card-body{
  padding-top: 10px;
  padding-bottom: 10px;
}

h4.title{
  color: #434e5e;
  font-size: 1.2rem;
  margin-bottom: 0;
}

.card-btn{
  margin-bottom: -40px;
  font-size: 0.9rem;
  background-color: #fff;
  color: #222;
  border: 1px solid #eee;
  border-radius: 0;
  padding-left: 50px;
  padding-right: 50px;
}

.card-btn:hover{
  background-color: #011B56;
  color: #fff;
}

/* ***************  about us page  ************************* */
.about-intro{
  padding: 5rem 0;
}
.about-intro .line{
 background-color: #011B56;
 height: .2rem;
 width: 10rem;
 margin-bottom: 2rem;
}

.about-intro h3{
  padding-top: 2rem;
  color: #011B56;
  font-weight: 900;
  font-size: 2.5em;
  

}
.about-intro p{
  font-size: 1em;
  font-weight: 400;
  color: gray;
}
.about-intro img{
  width: 350px;
  height: 360px;
}



/* mision vission and values */
.mv{
  padding: 5rem 0;
  background-color: rgba(119, 136, 153, 0.397);
}
.card-mv, .card-header{
background-color: transparent!important;
border: none!important;
padding: 0!important;
margin-bottom: 5px;

}
.card-mv{
  box-shadow: 0 2px 10px 0 rgba(1, 27, 86, 0.315);

}
.card-mv  .btn-link{
  width: 100%;
  height: 60px;
  color: #fff;
  font-weight: bold;
  text-align: left;
  text-decoration: none;
}
.card-mv .card-body{
  background: rgba(255, 247, 247, 0.541);
  color: #011B56;
  font-size: .9rem;
  padding: 2rem 1rem;

}
.card-mv .btn-link::after{
  content: '\2212';
  width: 35px;
  font-size: 25px;
  text-align: center;
  border-radius: 5px;
  right: 15px;
  top: 11px;
  position: absolute; 
  background-color: rgba(1, 27, 86, 0.486);
} 
.card-mv .btn-link.collapsed:after{
  content: '\002b';
  width: 35px;
  font-size: 25px;
  text-align: center;
  border-radius: 5px;
  right: 15px;
  top: 11px;
  position: absolute; 
}
.card-mv .btn-link::before{
  content: '';
  height: 25px;
  width: 25px;
  position: absolute;
  background: #fff;
  z-index: 1;
  transform: rotate(45deg);
  left: 30px;
  top: 46px;
}

/* ************************ invest****************************** */

.invest-landing{
  background-image: linear-gradient(rgba(0,0,0,.500),rgba(0,0,0,.500)), url(../img/bathroom-cabinet-contemporary-1571462.jpg);
  padding-top: 3rem;
  padding-bottom: 3rem;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  border-bottom: .3rem solid #011B56;
}
.invest-landing h3{
  color: #011B56;
  font-size: 3rem;
  font-weight: 700;
}
.invest-landing p{
color: #fff;
font-size: 1em;
}
/* why invest
 */
 .why_invest{
   padding: 6rem 0;
 }
 .why_invest .invest-text img{
   margin: 2rem auto;
   height: 200px;
   width: 100px;

 }
 .why_invest .invest-text h3
{
  color: #011B56;
  font-weight: 700;
  font-size: 2em;
  text-align: center;
}
.why_invest .invest-text h3 span{
  color: #434e5e;
}
.why_invest .invest-text p{
  margin-top: 1.5rem;
  text-align: center;
  font-size: 1em;
  padding-bottom: .4rem!important;
}

.why_invest .invest-text a i{
  font-size: 1.5rem;
  padding: 0 .3rem;
  color: #434e5e;
}
/* reason to invest */

.reason-invest{
  background: #232526;  /* fallback for old browsers */
background: -webkit-linear-gradient(to top, #414345, #232526);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to top, #414345, #232526); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
padding: 5rem 0;
}

.reason-invest .card-invest{
  position: relative;
  height: 380px;
  padding: 40px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, .1);
  overflow: hidden;
}
.reason-invest .card-invest::before{
  content: '';
  position: absolute;
  left: 0;
  bottom: calc(-100% + 4px);
  width: 100%;
  height: 100%;
  background: #000;
  z-index: 1;
  transition: 0.5s ease-in-out; 
}
.reason-invest .card-invest:hover::before{
  bottom: 0;
}
.reason-invest .card-invest:nth-child(1)::before{
  background: #4169e1;
}
.reason-invest .card-invest:nth-child(2)::before{
  background: #1bcaff;
}
.reason-invest .card-invest:nth-child(3)::before{
  background: #4169e1;
}


.reason-invest .card-invest div{
  position: relative;
  z-index: 2;

}
.reason-invest .card-invest div h2{
  margin-bottom: 10px;
  font-size: 1.5em;
  transition: 0.5s;
  font-weight: 900;
  color: #fff;
}
.reason-invest .card-invest div p{
  margin-bottom: .9rem;
  transition: 0.5s;
  color: #fff;
}
.reason-invest .card-invest div a{
  margin-top: 20px;
  font-size: 14px;
  display: inline-block;
  text-decoration: none;
  transition: 0.5s;
  background: #fff;
  color: #777;
  padding: 6px 10px;
  font-weight: 600;
  box-shadow: 0 2px 20px rgba(0, 0, 0, .05)
}

.reason-invest .card-invest:hover div h2,
.reason-invest .card-invest:hover div p{
  color: #fff;
}

/* subscribe with us and set you self economically free */

.invest-subsciption{
  background-image:linear-gradient(rgba(65, 105, 225, 0.524),rgba(0,0,0,.500)), url(../img/apple-blur-branch-257840.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  padding: 7rem 0;
}
.invest-subsciption .text h3{
  color: #fff;
  font-size: 2em;
  text-align: center;
  font-weight: 700;
}

/* mission cards */


#blue-section{
  padding: 3rem;
  background-color:  #011B56;
  filter: blur(1px)
}
#simple-cards{
  margin:-4rem 0 0 0;
  background-image: url(../img/noise/img-noise-361x370.png);
  padding-bottom: 2rem;
}

#simple-cards .card{
  padding: 5%;
  text-align: center;
  border-radius: 0!important;
  margin: 1rem;
}
#simple-cards .card H3{
  font-weight: bold;
  color: #011B56;
  font-size: 2rem;
}
#simple-cards .card p{
color: gray;

}
#simple-cards .about-the-c .line-ip{
  background-color: #011B56;
  height: .2rem;
  width: 10rem;
  margin-top: 2rem;
  margin-bottom: 1rem;
}
#simple-cards .about-the-c{
  margin: 4rem 0;
}
#simple-cards .about-the-c h3{
  font-weight: bold;
  color: #011B56;
  font-size: 2rem;
}

#simple-cards .about-the-c p{
  color: gray;
}

#simple-cards .about-the-c a{
  background-color: #011B56;
  color: white;
  padding: .5rem 2.5rem;
  text-decoration: none;
  transition: all 300ms ease;
  border: .1rem solid #011B56;
  margin-top: 1rem;
}
#simple-cards .about-the-c a:hover{
  background-color: white;
  color: #011B56;
  border: .1rem solid #011B56;
}

#simple-cards .about-the-c img{
  margin: 4.5rem 0;
  width: 100%;
  height: 200px;
  box-shadow: 1px 1px 10px #011B56;
}

/* cehecl out service main */
#check-sale{
  padding: 8rem 0;
  background-image:url(../img/architect-architecture-blueprint-271667.jpg);
  background-repeat: none;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  text-align: center;
}
#check-sale .text-buy p{
  color:  gray;
  font-size: 1.3rem;
  font-weight: bold;
}

#check-sale .text-buy h3{
  font-weight: bold;
  color: #011B56;
  font-size: 2rem;
  margin-bottom: 3rem;
}

#check-sale .text-buy a{
  background-color: #011B56;
  color: white;
  padding: .5rem 2.5rem;
  text-decoration: none;
  transition: all 300ms ease;
  border: .1rem solid #011B56;
  margin-top: 1rem;
}

#check-sale .text-buy a:hover{
  background-color: transparent;
  color: #011B56;
  border: .1rem solid #011B56;

}
/* heading main  */

.headings{
  padding: 2rem 0 1rem 0;
}
.headings h3{
  font-weight: bold;
 font-size: 2.5rem;
 text-align: center;
 color: #011B56;
}
.headings p{
  color: gray;
  font-size: 1.1rem;
  text-align: center;
}



/* focus areas list of services provided by the website  */
#focus-area{
  padding: 5rem 0;
  background-image: url(../img/noise/img-noise-361x370.png);
  text-align: center;

}
#focus-area .cards-services{
  padding: 2%;
  background-color: transparent!important;
  -webkit-box-shadow: 0px 0px 10px 2px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 0px 10px 2px rgba(0,0,0,0.75);
box-shadow: 0px 0px 10px 2px rgba(0,0,0,0.75);
margin-top: 2.5rem;
transition: all 300ms ease;
}
#focus-area .cards-services:hover{
  -webkit-box-shadow: 0px 0px 10px 2px #011B56;
-moz-box-shadow: 0px 0px 10px 2px #011B56;
box-shadow: 0px 0px 10px 2px #011B56;
filter: grayscale(1);
transition: .5s ease-in;
}

#focus-area .cards-services .image-loc img{
  width: 100%;
  height: auto;
}
#focus-area .cards-services .text-serv{
  padding: 1%;
}
#focus-area .cards-services .text-serv h3{
  color: #011B56;
  font-weight: bold;
  font-size: 2rem;
  font-family: 'Open Sans Condensed', sans-serif; 
}
#focus-area a{
  text-decoration: none;
  
}













/* booostrap media queries location */

@media (max-width: 767.98px) {
  #header{
    background-color: #011B56;
    color: #fff;
    font-size: .8rem;
    padding: .3rem;
    text-align: center!important;
}
#header a{
    color: #fff;
    text-decoration: none;
    text-align: center!important;
}
#header a:hover{
    transition: .6s ease-in;
    color: #DED5D1;
}

#header .right-side a{
    font-size: 1rem;
    text-align: center!important;
    justify-content: center!important;
}
#header .right-side .col-md-6 a{
    font-size: .8rem;
    text-align: center!important;
    justify-content: center!important;
}

}


/* foooter css
 */

 .footer-area  ul {
  padding:0;
  margin:0
 }
 .footer-area  li {
  list-style:none
 }
 .footer-area  a:focus,a:hover {
  text-decoration:none;
  -webkit-transition:.3s ease;
  -o-transition:.3s ease;
  transition:.3s ease
 }
 .footer-area a:focus {
  outline:0
 }
 .footer-area img {
  max-width:100%
 }
 .footer-area p {
  font-size:16px;
  line-height:30px;
  color:#898b96;
  font-weight:300
 }
 .footer-area h4 {
  font-family:Rubik,sans-serif;
  margin:0;
  font-weight:400;
  padding:0;
  color:#363940
 }
 .footer-area a {
  color:#5867dd
 }
 .no-padding {
  padding:0!important
 }
 .go_top {
   display: none;
  line-height:40px;
  cursor:pointer;
  width:40px;
  background:#5867dd;
  color:#fff;
  position:fixed;
  -webkit-box-shadow:0 4px 4px rgba(0,0,0,.1);
  box-shadow:0 4px 4px rgba(0,0,0,.1);
  -webkit-border-radius:50%;
  border-radius:50%;
  right:-webkit-calc((100% - 1140px)/ 2);
  right:calc((100% - 1140px)/ 2);
  z-index:111;
  bottom:80px;
  text-align:center
 }
 .go_top span {
  display:inline-block
 }
 .footer-big {
  padding:105px 0 65px 0
 }
 .footer-big .footer-widget {
  margin-bottom:40px
 }
 .footer--light {
  background:#e7e8ed
 }
 .footer-big .footer-menu ul li a,.footer-big p,.footer-big ul li {
  color:#898b96
 }
 .footer-menu {
  padding-left:48px
 }
 .footer-menu ul li a {
  font-size:15px;
  line-height:32px;
  -webkit-transition:.3s;
  -o-transition:.3s;
  transition:.3s
 }
 .footer-menu ul li a:hover {
  color:#5867dd
 }
 .footer-menu--1 {
  width:100%
 }
 .footer-widget-title {
  line-height:42px;
  margin-bottom:10px;
  font-size:18px
 }
 .mini-footer {
  background:#192027;
  text-align:center;
  padding:32px 0
 }
 .mini-footer p {
  margin:0;
  line-height:26px;
  font-size:15px;
  color:#999
 }
 .mini-footer p a {
  color:#5867dd
 }
 .mini-footer p a:hover {
  color:#34bfa3
 }
 .widget-about img {
  display:block;
  margin-bottom:30px
 }
 .widget-about p {
  font-weight:400
 }
 .widget-about .contact-details {
  margin:30px 0 0 0
 }
 .widget-about .contact-details li {
  margin-bottom:10px
 }
 .widget-about .contact-details li:last-child {
  margin-bottom:0
 }
 .widget-about .contact-details li span {
  padding-right:12px
 }
 .widget-about .contact-details li a {
  color:#5867dd
 }
 @media (max-width:991px) {
  .footer-menu {
   padding-left:0
  }
 }
 