@import url('https://fonts.googleapis.com/css?family=Dancing+Script|Lato:300,400,700,900|Open+Sans+Condensed:300,700|Roboto:400,700,900&display=swap');

/*Created by onlicksolutions */

*{
  padding: 0;
  margin: 0;
  font-family: 'Lato', sans-serif;
  /* font-family: 'Lato', sans-serif;
   font-family: 'Roboto', sans-serif;
  font-family: 'Dancing Script', cursive;
  font-family: 'Open Sans Condensed', sans-serif; */
  box-sizing: border-box;
}

.nav-w{
  width: 80%;
  margin: auto;
}
/* header properties */
#header{
    background-color: #011B56;
    color: #fff;
    font-size: .8rem;
    padding: .3rem;
}
#header a{
    color: #fff;
    text-decoration: none;
}
#header a:hover{
    transition: .6s ease-in;
    color: #DED5D1;
}
#header .right-side a{
    font-size: 1rem;
}
#header .right-side .col-md-6 a{
    font-size: .8rem;
}

/* navigation */
.megamenu {
    position: static;
  }
  
  .megamenu .dropdown-menu {
    background: none;
    border: none;
    width: 100%;
  }
  #color{
      background-color: #011B56;
      color: #fff;
      padding-right: 1rem;
      padding-left: 1rem;
      border: 2px solid #011B56;
  }
  #color:hover{
    background-color: #Fff;
    color: #fff;
    padding-right: 1rem;
    padding-left: 1rem;
    transition: ease-in .6s;
  }
  #color:hover a{
   color: #011B56;
   transition: ease-in .6s;
  }
  #color a{
      color: #fff;
  }
  #navigation{
      box-shadow: 1px 1px 5px #011B56;
  }
  /* carousel css */
  #landing-page{
      position: relative;
  }
/* endo of navifgation */
#demo .carousel-item img{
    height: 75vh;
    filter: opacity(60%);
  }
  
  #demo .carousel-control-next{
    height: 40px;
    width: 55px!important;
    background: #011B56;
    right: 0!important;
    top: 45%!important;
  }
  #demo .carousel-control-prev span{
      height: 24px!important;
  }
  #demo .carousel-control-next span{
    height: 24px!important;
}
  #demo .carousel-control-prev{
    height: 40px;
    width: 55px!important;
    background: #011B56;
    left: 0!important;
    top: 45%!important;
  }
  
  #demo .carousel-caption{
    position: absolute;
    top: 35%;
    background: rgba(#fff, #ccc, #fefefe, 0.400)!important;
  }
  #demo .carousel-caption h3{
    color: #011B56;
    font-weight: 900;
    text-transform: uppercase;
   font-size: 3.5em;
   text-shadow: 2px 2px 10px #011B56;
  }
  #demo .carousel-caption h3 span{
    color: #fff;
    font-weight: 900;
    text-transform: uppercase;
    text-shadow: 2px 2px 10px #011B56;
  }

  #demo .carousel-caption p span{
    background: rgb(0, 26, 85, .500)!important;
    padding: .2rem 6rem;
    font-size: 2em; 
    font-weight: 300;
    letter-spacing: .1rem;
    font-family: 'Open Sans Condensed', sans-serif;
    font-weight: 700;
  }


  /* m-services */
  #m-services{
      padding: 4rem 0;
      background-color: rgb(231, 228, 228, .45);
  }

  /* #m-services .service-pad{
      padding: .5rem;
      border: .1rem solid gray;
      text-align: center;
  } */

  #m-services .service-pad .services-tag{
      padding: 1.5rem .8rem;
      border: .1rem solid gray;
      background: #011B56;
      text-align: center;
  }
  #m-services .service-pad .services-tag .icon img{
      border-radius: 100%;
      border: .4rem solid white;
  }

  #m-services .service-pad .services-tag .icon{
      height: 100px;
      width: 100px;
      margin: 1rem auto;
      
  }

  #m-services .service-pad .services-tag h3{
      color: #fff;
      font-weight: bold;
     margin-bottom: .5rem;

  }

  #m-services .service-pad .services-tag p{
      color: #fff;
      font-family: 'Roboto', sans-serif;
  }

