@import url('https://fonts.googleapis.com/css?family=Dancing+Script|Lato:300,400,700,900|Open+Sans+Condensed:300,700|Roboto:400,700,900&display=swap');

/*Created by onlicksolutions */

*{
  padding: 0;
  margin: 0;
  font-family: 'Lato', sans-serif;
  /* font-family: 'Lato', sans-serif;
   font-family: 'Roboto', sans-serif;
  font-family: 'Dancing Script', cursive;
  font-family: 'Open Sans Condensed', sans-serif; */
  box-sizing: border-box;
}

.nav-w{
  width: 80%;
  margin: auto;
}
/* header properties */
#header{
    background-color: #011B56;
    color: #fff;
    font-size: .8rem;
    padding: .3rem;
}
#header a{
    color: #fff;
    text-decoration: none;
}
#header a:hover{
    transition: .6s ease-in;
    color: #DED5D1;
}
#header .right-side a{
    font-size: 1rem;
}
#header .right-side .col-md-6 a{
    font-size: .8rem;
}

/* navigation */
.megamenu {
    position: static;
  }
  
  .megamenu .dropdown-menu {
    background: none;
    border: none;
    width: 100%;
  }
  #color{
      background-color: #011B56;
      color: #fff;
      padding-right: 1rem;
      padding-left: 1rem;
      border: 2px solid #011B56;
  }
  #color:hover{
    background-color: #Fff;
    color: #fff;
    padding-right: 1rem;
    padding-left: 1rem;
    transition: ease-in .6s;
  }
  #color:hover a{
   color: #011B56;
   transition: ease-in .6s;
  }
  #color a{
      color: #fff;
  }
  #navigation{
      box-shadow: 1px 1px 5px #011B56;
  }
  /* carousel css */
  #landing-page{
      position: relative;
  }
/* endo of navifgation */
#demo .carousel-item img{
    height: 75vh;
    filter: opacity(60%);
  }
  
  #demo .carousel-control-next{
    height: 40px;
    width: 55px!important;
    background: #011B56;
    right: 0!important;
    top: 45%!important;
  }
  #demo .carousel-control-prev span{
      height: 24px!important;
  }
  #demo .carousel-control-next span{
    height: 24px!important;
}
  #demo .carousel-control-prev{
    height: 40px;
    width: 55px!important;
    background: #011B56;
    left: 0!important;
    top: 45%!important;
  }
  
  #demo .carousel-caption{
    position: absolute;
    top: 35%;
    background: rgba(#fff, #ccc, #fefefe, 0.400)!important;
  }
  #demo .carousel-caption h3{
    color: #011B56;
    font-weight: 900;
    text-transform: uppercase;
   font-size: 3.5em;
   text-shadow: 2px 2px 10px #011B56;
  }
  #demo .carousel-caption h3 span{
    color: #fff;
    font-weight: 900;
    text-transform: uppercase;
    text-shadow: 2px 2px 10px #011B56;
  }

  #demo .carousel-caption p span{
    background: rgb(0, 26, 85, .500)!important;
    padding: .2rem 6rem;
    font-size: 2em; 
    font-weight: 300;
    letter-spacing: .1rem;
    font-family: 'Open Sans Condensed', sans-serif;
    font-weight: 700;
  }


  /* m-services */
  #m-services{
      padding:4rem 0 4rem 0;
  }

  /* #m-services .service-pad{
      padding: .5rem;
      border: .1rem solid gray;
      text-align: center;
  } */

  #m-services .service-pad .services-tag{
      padding: 1.5rem .8rem;
      border: .1rem solid gray;
      text-align: center;
  }

  #m-services .service-pad .services-tag .icon i{
      border-radius: 100%;
      color: #011B56;
      font-size: 4rem;
      margin-bottom: 1.5rem;
  }

 

  #m-services .service-pad .services-tag h3{
      font-weight: 900;
     margin-bottom: .5rem;
     color: #011B56;
     font-size: 2rem;
  }




  #m-services .service-pad .services-tag p{
      font-family: 'Roboto', sans-serif;
      color: gray;
      font-size: .9rem;
  }

/* heading main  */

.headings{
  padding: 2rem 0 1rem 0;
}
.headings h3{
  font-weight: bold;
 font-size: 2.5rem;
 text-align: center;
 color: #011B56;
}
.headings p{
  color: gray;
  font-size: .9rem;
  text-align: center;
}


  /* services scss */
  #man-services{
    background-color: #f5f6fa;
    padding: 2rem 0;
  }

  .box{
    position: relative;
   background: #000;
   height: 400px;
  margin: 1rem 0;

  }
  .content{
    position: absolute;
    top: 0;
   left: 0;
   right: 0;
   bottom: 0;
   display: grid;
   align-items: center;
   padding: 20px;
   color: #fff;
   font-family: 'Roboto', sans-serif;
   text-align: center;
  }

  .content a{
    display: inline-block;
    margin-top: 10px;
    padding: 10px 20px;
    border: 1px solid #fff;
    text-decoration: none;
    color:#fff;
    transition: .5s;
  }
   .content h2{
     color: #011B56;
     font-weight: bold;
     margin-bottom: 2rem;
   }
  .content a:hover{
    color: #000;
    background: #fff;
  }
  
  .box img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    transition: 1s;

  }

  .box:hover img{
    clip-path: polygon(0 0, 100% 0, 0 0, 0% 100%);
  }


  /* get a quote froms us  */
  #get-quote{
    background-image: url(bg-about.jpg);
    padding: 8rem 0;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
  }
  #get-quote .text-quote{
    text-align: center;
  }
  #get-quote .text-quote h3{
    font-size: 2.5rem;
    font-weight: bold;
    text-align: center;
    color: #011B56;
  }

  #get-quote .text-quote p{
    color: gray;
    text-align: center;
    font-size: 1rem;
  }
  #get-quote .text-quote a{

    text-decoration: none;
    color: white;
    background-color: #011B56;
    font-size: 1.2rem;
    padding: .3rem 2rem;
    font-family: 'Roboto', sans-serif;
    border: .1rem solid #011B56;
transition: all 300ms ease-in-out;
  }
  #get-quote .text-quote a:hover{
color: #011B56;
background-color: transparent;
  }
